doctype html 
html 
    head 
      title #{pageTitle}
        //-pageTile là biêns mk định nghĩa trong file home.controller.js
    body
       include ../partials/header.pug
        //-nhung file header vào
        block main

       include ../partials/footer.pug

        
