.header{
    /*file css  dc nhung trong file defalut(tuc trang pug trang thiet ke giao dien pug no hoi giong html ) to*/
    /*css cho header*/
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.header .inner-logo img {
    max-height: 50px;
    max-width: 100%;
}

.header.inner-menu > ul {
    list-style:none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    flex-wrap:nowrap;
}
/*css cho no thanh hang ngang*/
.header.inner-menu > ul > li{
    margin-left:20px;
}
/*End Header*/

/*footer*/
.footer{
    background:#333;
    color:#fff;
    text-align: center;
    padding: 10px;
}
/*end footrt*/

/*box-head8*/
.box-head{
    margin-bottom:30px;
}
.box-head.inner-title{
    margin: bottom 0;
    font-size:28px;
    font-weight:600;
    color: green;
}
/*end box-head*/
/*product-item*/
.product-item{
    border: 1px solid #ddd;
    border-radius:8px;

}
/* css cho cái ảnh + lang nhang tu them*/
.container.my-3 .inner-image img{
    height:100px;
    width:auto;

}
.container.my-3 .box-head{
    color:green;
}
.container.my-3 .inner-content .inner-title{
    font-weight:700;
    /* color:yellow; */
}
.container.my-3 .inner-content .inner-price-new{
    color:green;
    font-weight:700;
    font-size:30px;
}
.container.my-3 .inner-content .inner-price-old{
   color:red;
   text-decoration: line-through; 
   font-weight:700;
    font-size:25px;
    
}
.container.my-3 .inner-content .inner-discount{
    background: red;
    border-radius: 45px;
    width:70px;
    text-align: center;
    color:white;
}
.container.my-3 .row .product-item{
width:152px;
/* background: red;; */
}

.row.align-items-center .inner-menu ul{
    display: flex;
    list-style-type: none;
}
.row.align-items-center .inner-menu ul li{
    margin-left: 30px;
}